# Ignorer les fichiers de configuration sensibles
.env

# Ignorer les fichiers Python générés
__pycache__/
*.pyc
*.pyo
*.pyd

# Caches et logs
*.log
*.sqlite3
*.db

# VS Code / IDE / éditeurs
.vscode/
.idea/
*.swp
*.swo

# Fichiers système
.DS_Store
Thumbs.db

# Dossiers virtuels/envs
venv/
env/
.venv/
